<div id="login-form">
  <h2>Log In</h2>
  <form {{#if prevurl}} action="/auth/login/?prevurl={{prevurl}}" {{else}} action="/auth/login/" {{/if}} method="POST" class="form-control">

    <label>
      Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>