<section>
    <a href="/admin/users" class="btn btn-dark-blue">Manage users</a>
    <a href="/admin/reservations" class="btn btn-dark-blue">Manage reservations</a>
    <a href="/admin/tools" class="btn btn-dark-blue">Manage tools</a>
</section>