<footer>
    <div class="w-100 d-flex justify-center">
        <a href="/">
            <h2> Tools&co</h2>
        </a>
    </div>
    <div class="w-100 d-flex justify-center">
        <p class="text-center">Tools&Co is a FullStack Web application made by <a href="https://github.com/bapturp"
                target="_blank">@bapturp</a>, <a href="https://github.com/hugoviolas" target="_blank">@hugoviolas</a>
            and <a href="https://github.com/inesza" target="_blank">@inesza</a> during
            the Ironhack Web Development Bootcamp in only 4 days 🚀</p>
    </div>
</footer>