<footer>
    <div class="col-30 d-flex flex-column"></div>
    <div class="col-30 d-flex flex-column"></div>
    <div class="col-30 d-flex flex-column"></div>
    <div class="col-100 d-flex justify-center"><a href="">Privacy</a> - <a href="">Terms & Conditions</a></div>
</footer>