<header {{#if isHome}} class="home-nav" {{else}} class="reg-nav" {{/if}}>
    <h1>Tools&co</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/tools">Tools</a>
        <a href="/search">Search</a>
    </nav>
    <div>
        <a href="/auth/login" class="btn btn-turquoise">Log in <i class="fa-solid fa-circle-user"></i></a>
        <a href="/auth/signup" class="btn btn-dark-blue">Sign up</a>
        <a href="/cart" class="btn btn-turquoise" id="cart-link">
            Cart:<span id="cart-quantity">{{cart}}</span>
        </a>
    </div>
</header>