<section id="home-top">
    <form action="/search" method="get" id="search-form">

        <div class="home-search">
            <div id="whats-the-plan"></div>
            <div class="search-fields">
                <div>I need
                    <select name="tool_type">
                        <option value="" selected>a tool</option>
                        {{#each tooltypesList}}
                        <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    to
                    <select name="use_case" id="">
                        <option value="" selected>do something</option>
                        {{#each usecasesList}}
                        <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
            <div class="search-fields">
                <div>starting
                    <input type="date" name="start_date" id="start_date" placeholder="today" />
                </div>
                <div>
                    until
                    <input type="date" name="end_date" id="end_date" />
                </div>

            </div>

        </div>
        <button class="btn btn-turquoise">Let's do this</button>
    </form>
</section>
<section class="activities">
    <article id="push-1"></article>
    <article id="push-2"></article>
    <article id="push-3"></article>
</section>
<section class="trending">
    <div class="container justify-between">
        <h2>Latest tools</h2>
        <a href="/search">See all tools</a>
    </div>
    <section class="results-list">
        {{#each toolsList}}
        {{> toolCard tool=this isHome="true"}}
        {{/each}}
    </section>
</section>
<section class="reassurance container">
    <article>
        <img src="https://res.cloudinary.com/drbhvpnpr/image/upload/v1668692605/payment-secure_cibnyj.svg" alt="">
        <h4>Secure payment</h4>
    </article>
    <article>
        <img src="https://res.cloudinary.com/drbhvpnpr/image/upload/v1668692605/tool-quality_gijyxj.svg" alt="">
        <h4>Top quality tools</h4>
    </article>
    <article>
        <img src="https://res.cloudinary.com/drbhvpnpr/image/upload/v1668692605/click-collect_orpj5w.svg" alt="">
        <h4>Click & Collect</h4>
    </article>
</section>
<section class="about">
    <div class="illu">
        <div id="darkbluebox"></div>
        <img src="https://res.cloudinary.com/drbhvpnpr/image/upload/v1668693925/about_kw7xel.jpg" alt="">
        <div id="turquoisebox"></div>
    </div>
    <div class="about-text">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Egestas vulputate justo congue enim semper vulputate egestas at
            ipsum. Commodo pulvinar ultrices nulla lorem sed. Orci imperdiet massa nam diam aliquam quam. Donec in vitae
            suscipit orci. Bibendum adipiscing quis dictum ligula. Risus volutpat condimentum augue faucibus nunc.</p>
        <p>Felis risus nibh sit at erat auctor viverra lacus facilisis. Sed leo arcu ligula ullamcorper neque.
            Ullamcorper lacus nibh blandit viverra.
            Nullam sed risus quis viverra. Tincidunt.</p>
    </div>
</section>