<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/script.js" type="module"></script>
  </head>

  <body>

    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/tools">Tools</a>
        <a href="/search">Search</a>
        <a href="/cart" id="cart-link">
          <span>Cart: </span><p id="cart-quantity">{{cart}}</p>
        </a>

      </nav>
    </header>

    {{{body}}}

  </body>

</html>