<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Tools & co</title>
  <link rel="stylesheet" href="/stylesheets/boothack.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/script.js" type="module"></script>
  <script src="https://kit.fontawesome.com/aeb17d5c86.js" crossorigin="anonymous"></script>
</head>


{{#if isHome}}

<body class="homepage">
  {{else}}

  <body>
    {{/if}}
    {{> header}}
    {{{body}}}


    {{> footer}}
  </body>

</html>