<section id="page-404" class="d-flex flex-column col-100 justify-center align-items-center">
  <h1>404 Error</h1>
  <h2>
    There is nothing here...
  </h2>
  <div>
    <a href="/" class="btn btn-turquoise">Back to homepage</a>
  </div>

</section>