/* ********************** Utils ********************** */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--inconsolata);
  font-size: 17px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

select * {
  padding: 1em;
}

select option:not(:disabled) {
  background: var(--turquoise);
  color: white;
  font-size: 18px !important;
  transition: 0.5s;
}

:root {
  --dark-blue: #29339b;
  --dark-blue-transp: rgba(41, 51, 155, 0.8);
  --turquoise: #31ccd1;
  --turquoise-transp: rgba(49, 204, 209, 0.58);
  --white: #fff;
  --inconsolata: "Inconsolata", monospace;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
  scroll-behavior: smooth;
}

.wrapper> :first-child {
  padding-top: 100px;
}

#tool-link {
  text-decoration: none;
}

/* ********************** Homepage ********************** */
#home-top {
  min-height: 90vh;
  width: 100%;
  background: linear-gradient(90deg,
      var(--dark-blue-transp) 0,
      var(--dark-blue-transp) 100%),
    url(/images/tools-bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 200px 10% calc(20vh + 50px);
}

#home-top .home-header {
  width: 100%;
  color: var(--turquoise);
}

#home-top #whats-the-plan {
  width: 100%;
  font-size: 2em;
  margin-bottom: 0.3em;
  color: var(--white);
  text-align: center;
}

.opacity-0 {
  opacity: 0;
}

#home-top form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search {
  display: flex;
  justify-content: center;
  color: var(--turquoise);
  font-size: 2em;
  flex-wrap: wrap;
  margin-bottom: 2em;
  row-gap: 1.5em;
}

.home-search .search-fields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.5em;
}

.home-search :not(#whats-the-plan) {
  font-size: inherit;
}

.home-search input,
.home-search select {
  background: none;
  color: var(--turquoise-transp);
  border: none;
  border-bottom: 1px solid var(--turquoise);
  font-size: inherit;
  font-family: inherit;
  margin: 0 1em;
}

.home-search select:focus,
.home-search select:focus-visible {
  border: none;
  outline: none;
}

.home-search ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.activities {
  transform: translateY(-100px);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  z-index: 2;
}

.activities article {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(var(--dark-blue-transp), var(--dark-blue-transp));
  background-size: cover;
}

article#push-1 {
  background: linear-gradient(to bottom, #29339b3c, #29339bf1),
    url(https://res.cloudinary.com/drbhvpnpr/image/upload/v1668690120/woodworking_ru6aue.jpg);
  background-size: cover;
}

article#push-2 {
  background: linear-gradient(to bottom, #29339b3c, #29339bf1),
    url(https://res.cloudinary.com/drbhvpnpr/image/upload/v1668690120/plumbing_zixwlv.jpg);
  background-size: cover;
}

article#push-3 {
  background: linear-gradient(to bottom, #29339b3c, #29339bf1),
    url(https://res.cloudinary.com/drbhvpnpr/image/upload/v1668690120/gardening_v83hbj.jpg);
  background-size: cover;
}

.reassurance {
  justify-content: space-around;
  margin: 4em auto;
}

.reassurance article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.reassurance h4 {
  color: var(--turquoise);
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  gap: 5%;
}

.about>div {
  width: 50%;
}

.about .illu {
  position: relative;
}

.about .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.about .about-text h3 {
  color: var(--dark-blue);
  font-size: 2em;
}

.about .illu img {
  width: 95%;
  z-index: 2;
  transform: translateX(-100%);
  transition: 1.5s ease-out;
}

.about .illu img.arrived {
  transform: translateX(0);
}

.about .illu #darkbluebox {
  z-index: 1;
  background: var(--dark-blue);
  height: 180px;
  width: 150px;
  position: absolute;
  top: -90px;
  left: 5em;
  transform: translate(-200%, -50%);
  transition: 1.5s ease-out;
}

.about .illu #darkbluebox.arrived {
  transform: translate(0, 0);
}

.about .illu #turquoisebox {
  position: absolute;
  right: -30px;
  bottom: -80px;
  z-index: 3;
  background: var(--turquoise-transp);
  height: 200px;
  width: 200px;
  transition: 1.5s ease-out;
  transform: translate(100%, 10%);
}

.about .illu #turquoisebox.arrived {
  transform: translate(0, 0);
}


/* ********************** Search page ********************** */
.search-bar {
  width: 100%;
  background: var(--turquoise);
  padding: 2em;
}

.search-bar #search-form {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.search-bar #search-form input,
.search-bar #search-form select {
  border: none;
  border-radius: 30px;
  padding: 0.5em 1em;
}

.search-bar .calendar {
  display: flex;
}

.search-bar #search-form #start_date {
  border-radius: 30px 0 0 30px;
  border-right: 1px solid var(--turquoise);
}

.search-bar #search-form #end_date {
  border-radius: 0 30px 30px 0;
  border-left: 1px solid var(--turquoise);
}

.results-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

/* Tool card */
.block {
  display: block;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  color: var(--dark-blue);
  transition: .5s;
}

.cart-buttons:hover {
  color: var(--turquoise);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  max-width: 300px;
  border: 2px solid var(--turquoise);
  padding: 1em;
  overflow: hidden;
}

.card .tool-info {
  width: 100%;
}

.tool-card {
  opacity: 0;
  transition: 1s ease-out;
}

.card picture {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card picture img {
  max-height: 100%;
}


.tool-card.opaque {
  opacity: 1
}

.dates {
  font-size: 2rem;
}

.cart-list .recap {
  width: 100%;
  background: var(--turquoise);
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: .5em auto 2em;
  max-width: 700px;
  border: 2px solid var(--turquoise);
}

.cart-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--turquoise);
  padding: 1em;
  margin: 0;
  overflow: hidden;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-info {
  display: flex;
  gap: 1em;
  align-items: center;
}

.cart-item a {
  font-size: inherit;
  text-align: center;
}

.cart-item picture {
  display: block;
  width: 80px;
  text-align: center;
}

.tool-info h3 {
  color: var(--turquoise);
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
}

.tool-info h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.price-tag {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1em;
  background: var(--turquoise);
  padding: 0.5em 1.5em;
  border-radius: 30px;
  color: white;
}

.overlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue-transp);
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

.card:hover .overlayer {
  transform: translateY(0);
}

/* ********************** Header ********************** */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
}

header.reg-nav {
  height: 70px;
  position: fixed;
  background: var(--dark-blue-transp);
  padding: 1em 10%;
  color: white;
  transform: translateY(-120%);
  transition: 1s ease-out;
  box-shadow: 0 4px 15px 0 rgba(41, 51, 155, 0.4);
  z-index: 100;
}

header.reg-nav.slide-from-top {
  transform: translateY(0);
}

header.home-nav {
  position: absolute;
  padding: 1em 5%;
}

header.home-nav h1 {
  font-weight: 900;
  font-size: 6em;
  color: var(--turquoise);
}

header.reg-nav h1 {
  color: var(--turquoise);
  font-size: 2em;
  font-weight: 900;
}

header .nav-buttons {
  display: flex;
  gap: 1.5em;
}

/* Profile menu dropdown */
#profile-menu {
  position: relative;
  display: inline-block;
}

#profile-dropdown {
  color: white;
  position: absolute;
  background: var(--turquoise);
  right: 0;
  min-width: 160px;
  border-radius: 5px;
  margin-top: 0.5em;
  overflow: hidden;
}

#profile-dropdown a:first-child {
  padding-top: 1em;
}

#profile-dropdown a:last-child {
  padding-bottom: 1em;
}

#profile-dropdown a {
  display: inline-block;
  font-size: 20px;
  padding: 0.5em;
  transition: 0.3s;
}

#profile-dropdown a:hover {
  background: var(--dark-blue);
}

#profile-dropdown a {
  width: 100%;
  height: 100%;
}

#profile-menu .icon {
  height: 43px;
  aspect-ratio: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
  border-radius: 50%;
  transition: 0.5s;
}

#profile-menu:hover .icon {
  background: var(--turquoise);
  color: white;
}

#btn-profile {
  display: flex;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
}

#btn-profile .fa-chevron-down {
  color: white;
}

/* Cart button */
#cart-link {
  position: relative;
}

#cart-quantity {
  position: absolute;
  right: 1.5em;
  top: 0.2em;
  padding: 0.3em;
  min-height: 15px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(255, 64, 0);
  border: 1px solid white;
  font-weight: 900;
}

/* Checkout */
#container-checkout {
  display: flex;
  justify-content: center;
}

#container-checkout>form {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  justify-content: center;
  gap: 3rem;
}

.ck-box {
  border: 2px solid var(--turquoise);
  width: 100%;
  padding: 1rem;
}

#container-checkout .tool-info {
  padding: 1em 0;
}

#container-checkout .recap {
  text-align: center;
  padding: 1em;
  font-weight: 900;
  color: var(--dark-blue);
}

#container-checkout #order-summary p {
  font-size: 1.4em;
  color: var(--dark-blue);
}

#container-checkout .cart-item {
  padding: 0;
}

#container-checkout #order-summary .cart-item .brand {
  color: var(--turquoise);
}

#payment>div {
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
}

#container-checkout h2 {
  color: var(--dark-blue);
  font-family: var(--inconsolata);
  font-size: 2em;
  margin-bottom: 2rem;
}

.payment-info {
  max-width: 380px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#place-order {
  display: flex;
  justify-content: center;
  /* main axis*/
}

#place-order button {
  width: 300px;
  max-width: 100%;
}

.cancel-order {
  display: flex;
  justify-content: center;
  opacity: 0.3;
}

/* ********************** Footer ********************** */

footer {
  width: 100%;
  min-height: 150px;
  background-color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  padding: 2em;
}

footer p {
  color: white;
  text-decoration: none;
}

footer h2 {
  color: var(--turquoise);
  font-size: 5em;
}

footer p a {
  text-decoration: underline;
}

/* ********************** Credentials change ********************** */
.credential {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  width: 50%;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputs {
  display: flex;
  flex-direction: column;
}

#btn-credential {
  margin: 2rem;
}

.profile-page-link {
  margin: 2rem;
}

.profile-page-link button {
  width: 16rem;
}

.error {
  color: red;
}

/* ********************** Tool details ********************** */

.tool-details {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3em;
  padding: 2em;
}

.tool-detail-img-container {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  /* margin-top: 2rem;
  margin-left: 2rem; */
  overflow: hidden;
}

.tool-detail-img {
  border: 2px solid var(--turquoise);
  padding: 1.5em;
  max-height: 400px;
  width: 100%;
  object-fit: contain;
}

.tool-titles {
  margin: 2rem;
  width: 60%;
}

.tool-titles h3 {
  color: var(--dark-blue);
  font-size: 2em;
  text-transform: uppercase;
}

.tool-titles h2 {
  font-weight: 400;
}

.tool-buttons {
  margin-top: 2rem;
}

.tool-characteristics {
  margin-top: 2rem;
}

.tool-description {
  margin: 2rem 0;
}

.tool-price p {
  margin: 2rem 0;
  color: var(--turquoise);
  font-weight: 700;
  font-size: 1.4em;
}

.tool-tags {
  margin-bottom: 2rem;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-weight: 700;
}

.tool-tags p,
.tool-tags span {
  font-size: 0.9rem;
}

.back-btn {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  max-width: 200px;
  padding: .5em .5em;
  border-bottom: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  transition: .5s;
}

.back-btn:hover {
  border-bottom: 5px solid var(--turquoise);
  color: var(--turquoise);
}

/* ********************** Profile page ********************** */

.profile-container {
  display: block;
  margin: 0 2rem;
}

.profile-container section {
  margin: 2rem 0;
}

.profile-infos-bloc {
  display: flex;
  justify-content: flex-start;
}

.profile-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
  border-bottom: 3px solid #31ccd1;
  padding-bottom: 2rem;
}

.profile-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-infos span {
  font-size: 1.3rem;
}

.profile-infos p {
  font-size: 1.2rem;
}

.profile-container a {
  font-size: 1.5rem;
}

.profile-container a:hover {
  color: var(--turquoise);
}

/* ********************** Auth ********************** */
.auth-form {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form h2 {
  color: var(--dark-blue);
  margin-bottom: 1em;
}

.auth-form p {
  margin: 1em auto;
  text-align: center;
}

.auth-form a {
  text-decoration: underline;
}

#demo-creds {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

#demo-creds>div {
  border: 1px dashed black;
  padding: 1;
  line-height: 1.5rem;
}

#demo-creds table {
  text-align: left;
}

#demo-creds table td,
#demo-creds table th {
  padding: 1rem;
}

/* ********************** Responsive-ish ********************** */

@media (width < 768px) {
  .activities article {
    width: 30%;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  header.home-nav h1 {
    font-size: 4em;
  }

  header.reg-nav {
    padding: .5em;
    justify-content: space-between;
  }

  header.reg-nav h1 {
    font-size: 1em;
    ;
  }

  header .nav-buttons {
    gap: .5em;
  }

  header .btn {
    padding: .5em;
    font-size: .9em;
  }

  #whats-the-plan {
    font-size: 1.7em;
  }

  .home-search {
    font-size: 1.5em;
  }

  .home-search * {
    text-align: center;
  }

  .home-search .search-fields {
    row-gap: .5em;
  }

  .home-search .search-fields>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #home-top #search-form .btn {
    font-size: 1.3em;
  }

  .card {
    width: 100%;
    padding-bottom: 70px;
  }

  .card .overlayer {
    transform: none;
    height: 60px;
    flex-direction: row;
    padding: .5em;
    justify-content: center;
  }

  body:not(.homepage) .card .overlayer {
    justify-content: space-around;
  }

  .card .overlayer>* {
    width: 50%;
  }

  .card .overlayer .btn {
    padding: .4em;
    text-align: center;
  }

  .card .overlayer form {
    text-align: right
  }

  .card .overlayer .btn i {
    display: none;
  }

  .results-list {
    padding: 1em;
    gap: 1em;
  }

  .reassurance {
    gap: 2em;
  }

  .reassurance img {
    max-height: 100px;
  }

  .about {
    flex-direction: column;
  }

  .about div {
    width: 100%;
    margin-top: 3em;
  }

  .search-bar {
    padding: 100px 1em 1em 1em;
  }

  .search-bar #search-form {
    flex-wrap: wrap;
    column-gap: .5em;
    row-gap: 1em;
  }

  .search-bar #search-form select {
    width: calc(50% - .5em);
  }

  .tool-details {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
  }

  .tool-detail-img-container {
    width: 100%;
  }

  .tool-detail img {
    max-height: 300px;
  }

  .tool-titles {
    width: 100%;
    margin: 1em 2rem;
  }

  .tool-titles h2,
  .tool-titles h3 {
    font-size: 1.5em;
  }

  .cart-item picture {
    display: none;
  }

  .cart-item-btn {
    padding-top: 1em;
    align-items: center;
  }

  .cart-list .recap {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  .cart-list .recap .btn {
    font-size: 1.2em;
  }

  #demo-creds table td,
  #demo-creds table th {
    padding: .3em;
  }

  #container-checkout>form {
    padding: .5em;
  }

  #container-checkout #order-summary p {
    font-size: 1.2em;
  }

  #container-checkout .cart-item {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1em;
  }

  .payment-info {
    flex-direction: column;
  }

  #place-order button {
    font-size: 1.5em;
  }

  .profile-container {
    margin: 0;
  }

  footer h2 {
    font-size: 3em;
  }
}