/* ********************** Utils ********************** */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--inconsolata);
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

select:focus,
select:focus-visible {
  border: none;
  outline: none;
}

select * {
  padding: 1em;
}

select option {
  background: var(--turquoise);
  color: white;
  font-size: 18px;
  transition: .5s;
}

:root {
  --dark-blue: #29339b;
  --dark-blue-transp: rgba(41, 51, 155, 0.8);
  --turquoise: #31ccd1;
  --turquoise-transp: rgba(49, 204, 209, 0.58);
  --white: #fff;
  --inconsolata: "Inconsolata", monospace;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
  scroll-behavior: smooth;
}

.wrapper > :first-child {
  padding-top: 100px;
}

#tool-link {
  text-decoration: none;
}

/* ********************** Homepage ********************** */
#home-top {
  min-height: 90vh;
  width: 100%;
  background: linear-gradient(
      90deg,
      var(--dark-blue-transp) 0,
      var(--dark-blue-transp) 100%
    ),
    url(/images/tools-bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: calc(3vh + 65px) 10% 20vh;
}

#home-top .home-header {
  width: 100%;
  color: var(--turquoise);
}

#home-top #whats-the-plan {
  width: 100%;
  font-size: 2em;
  margin-bottom: 0.3em;
  color: var(--white);
  text-align: center;
}

#home-top form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search {
  display: flex;
  justify-content: center;
  color: var(--turquoise);
  font-size: 2em;
  flex-wrap: wrap;
  margin-bottom: 2em;
  row-gap: 1.5em;
}

.home-search input,
.home-search select {
  background: none;
  color: var(--turquoise-transp);
  border: none;
  border-bottom: 1px solid var(--turquoise);
  font-size: inherit;
  font-family: inherit;
  margin: 0 1em;
}

.home-search ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.activities {
  transform: translateY(-100px);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  z-index: 2;
}

.activities article {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  background: rgb(255, 64, 0);
}

/* ********************** Search page ********************** */
.search-bar {
  width: 100%;
  background: var(--turquoise);
  padding: 2em;
}

.search-bar #search-form {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.search-bar #search-form input,
.search-bar #search-form select {
  border: none;
  border-radius: 30px;
  padding: 0.5em 1em;
}

.search-bar .calendar {
  display: flex;
}

.search-bar #search-form #start_date {
  border-radius: 30px 0 0 30px;
  border-right: 1px solid var(--turquoise);
}

.search-bar #search-form #end_date {
  border-radius: 0 30px 30px 0;
  border-left: 1px solid var(--turquoise);
}

.results-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

/* Tool card */
.block {
  display: block;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-buttons {
  display: flex;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 300px;
  border: 2px solid var(--turquoise);
  padding: 1em;
  overflow: hidden;
}
.dates {
  font-size: 2rem;
}
.cart-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem;
}
.cart-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 300px;
  border: 2px solid var(--turquoise);
  padding: 1em;
  margin: 2rem;
  overflow: hidden;
}
.cart-item a {
  font-weight: bold;
}
.cart-item a:hover {
  color: var(--turquoise);
  font-weight: bolder;
}
.card:hover {
  border: 2px solid var(--dark-blue);
  transition: 0.8s;
}

.card picture {
  display: block;
  width: 80%;
  text-align: center;
  margin-bottom: 1.5em;
}

.tool-info {
  width: 100%;
}

.tool-info h3 {
  color: var(--turquoise);
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 400;
}

.tool-info h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.price-tag {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1em;
  background: var(--turquoise);
  padding: 0.5em 1.5em;
  border-radius: 30px;
  color: white;
}

.overlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue-transp);
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

.card:hover .overlayer {
  transform: translateY(0);
}

/* ********************** Header ********************** */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
}

header.reg-nav {
  height: 70px;
  position: fixed;
  background: var(--dark-blue-transp);
  padding: 1em 10%;
  color: white;
  transform: translateY(-120%);
  transition: 1s ease-out;
  box-shadow: 0 4px 15px 0 rgba(41, 51, 155, 0.4);
  z-index: 100;
}

header.reg-nav.slide-from-top {
  transform: translateY(0);
}

header.home-nav {
  position: absolute;
  padding: 1em 5%;
}

header.home-nav h1 {
  font-weight: 900;
  font-size: 6em;
  color: var(--turquoise);
}

header.reg-nav h1 {
  color: var(--turquoise);
  font-size: 2em;
  font-weight: 900;
}

header .nav-buttons {
  display: flex;
  gap: 1.5em;
}

/* Profile menu dropdown */
#profile-menu {
  position: relative;
  display: inline-block;
}

#profile-dropdown {
  color: white;
  position: absolute;
  background: var(--turquoise);
  right: 0;
  min-width: 160px;
  border-radius: 5px;
  margin-top: 0.5em;
  overflow: hidden;
}

#profile-dropdown a:first-child {
  padding-top: 1em;
}

#profile-dropdown a:last-child {
  padding-bottom: 1em;
}

#profile-dropdown a {
  display: inline-block;
  font-size: 20px;
  padding: 0.5em;
  transition: 0.3s;
}

#profile-dropdown a:hover {
  background: var(--dark-blue);
}

#profile-dropdown a {
  width: 100%;
  height: 100%;
}

#profile-menu .icon {
  height: 43px;
  aspect-ratio: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
  border-radius: 50%;
  transition: 0.5s;
}

#profile-menu:hover .icon {
  background: var(--turquoise);
  color: white;
}

#btn-profile {
  display: flex;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
}

#btn-profile .fa-chevron-down {
  color: white;
}

/* Cart button */
#cart-link {
  position: relative;
}

#cart-quantity {
  position: absolute;
  right: 1.5em;
  top: 0.2em;
  padding: 0.3em;
  min-height: 15px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(255, 64, 0);
  border: 1px solid white;
  font-weight: 900;
}

/* Checkout */
#container-checkout {
  display: flex;
  justify-content: center;
}

#container-checkout > form {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  justify-content: center;
  gap: 3rem;
}

.ck-box {
  border: 2px solid var(--turquoise);
  width: 100%;
  padding: 1rem;
}

#payment > div {
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
}

#container-checkout h2 {
  color: var(--dark-blue);
  font-family: var(--inconsolata);
  font-size: 2em;
  margin-bottom: 2rem;
}

.payment-info {
  max-width: 380px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#place-order {
  display: flex;
  justify-content: center; /* main axis*/
}

#place-order button {
  width: 300px;
  max-width: 100%;
}

/* ********************** Footer ********************** */

footer {
  width: 100%;
  min-height: 200px;
  background-color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

footer * {
  color: white;
  text-decoration: none;
}

/* ********************** Credentials change ********************** */
.credential {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  width: 50%;
}
.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputs {
  display: flex;
  flex-direction: column;
}

#btn-credential {
  margin: 2rem;
}

.profile-page-link {
  margin: 2rem;
}
.profile-page-link button {
  width: 16rem;
}
.error {
  color: red;
}

/* ********************** Tool details ********************** */

.tool-details {
  display: flex;
  flex-wrap: nowrap;
}

.tool-detail-img-container {
  width: 65%;
  height: auto;
  margin-top: 2rem;
  margin-left: 2rem;
  overflow: hidden;
}
.tool-detail-img {
  border: 2px solid var(--turquoise);
  border-radius: 5rem;
  width: 40rem;
}

.tool-titles {
  margin: 2rem;
  width: 35%;
}
.tool-buttons {
  margin-top: 2rem;
}
.tool-characteristics {
  margin-top: 2rem;
}

.tool-characteristics p {
  font-size: 1.2rem;
}

.tool-characteristics span {
  font-size: 1.3rem;
}

.tool-description {
  margin: 2rem 0;
  width: 70%;
}

.tool-price {
  margin: 2rem 0;
}

.tool-tags {
  margin-bottom: 2rem;
}

.tool-tags p,
.tool-tags span {
  font-size: 0.9rem;
}
.back {
  width: 11.6rem;
}

/* ********************** Profile page ********************** */

.profile-container {
  display: block;
  margin: 0 2rem;
}
.profile-container section {
  margin: 2rem 0;
}
.profile-infos-bloc {
  display: flex;
  justify-content: flex-start;
}
.profile-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
  border-bottom: 3px solid #31ccd1;
  padding-bottom: 2rem;
}

.profile-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profile-infos span {
  font-size: 1.3rem;
}

.profile-infos p {
  font-size: 1.2rem;
}

.profile-container a {
  font-size: 1.5rem;
}
.profile-container a:hover {
  color: var(--turquoise);
}

/* ********************** Cart ********************** */
